include:
  - project: dau/ci/pyci
    file: .gitlab-ci-template.yml

variables:
  PYTEST_WARNINGS: "-W error"

test-3.9:
  extends: .test-3.9
  variables:
    JUPYTER_PLATFORM_DIRS: 1

test-3.12:
  extends: .test-3.12
  variables:
    JUPYTER_PLATFORM_DIRS: 1

build_sdist:
  extends: .build_sdist

# test_sdist-3.9:
#   extends: .test_sdist-3.9
#   variables:
#     JUPYTER_PLATFORM_DIRS: 1
#     PYTEST_WARNINGS: "-W error -W ignore::RuntimeWarning:networkx.utils.backends" # https://github.com/networkx/networkx/issues/7372

# test_sdist-3.12-win:
#   extends: .test_sdist-3.12-win
#   variables:
#     JUPYTER_PLATFORM_DIRS: 1

# build_doc:
#   extends: .build_doc
#   script:
#     - python -m pip install .[doc]
#     - sphinx-build doc html

# pages:
#   extends: .pages

assets:
  extends: .assets

testpypi:
  extends: .testpypi

pypi:
  extends: .pypi
